$bg:#2d3a4b;
$dark_gray:#889aa4;
$light_gray:#eee;

.app-container {
    // min-height: 100%;
    // width: 100%;
    // background-color: $bg;
    // overflow: hidden;
    color: $light_gray;

    // TODO: 引入自定义的背景图片
    width: 100%;
    height: 100%;
    background-image: url("~@/assets/account_images/account-bg1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;


    .title-container {
      position: relative;
      width: 450px;
      margin: 160px auto 0;
      text-align: center;

      h3{
        font-weight: bold;
        font-size: 46px;
      }

      .title {
          font-size: 26px;
          color: $light_gray;
          margin: 0px auto 40px auto;
          text-align: center;
          font-weight: bold;
      }

      .set-language {
        color: #fff;
        position: absolute;
        top: 3px;
        left: 410px;
        font-size: 18px;
        cursor: pointer;
      }

      .explain {
        text-align: left;
        color: #fff;
        font-size: 14px;
        padding-right: 15px;
    }
    }



    .data-form {
        position: relative;
        width: 450px;
        max-width: 100%;
        padding: 0px 0px 0;
        margin: 0 auto;
        overflow: hidden;


    }


    .tips {
        font-size: 14px;
        color: #fff;
        margin-bottom: 10px;

        span {
            &:first-of-type {
                margin-right: 16px;
            }
        }
    }

    .svg-container {
        padding: 6px 5px 6px 15px;
        color: $dark_gray;
        vertical-align: middle;
        width: 30px;
        display: inline-block;
    }

    .show-pwd {
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 16px;
        color: $dark_gray;
        cursor: pointer;
        user-select: none;
    }

    .switchBth {
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 16px;
    }

    .tenantInput {
        background-color: #2d3a4b;
        line-height: 40px;
        // font-size:20px;
    }
    .el-link{
      margin-right: 8px;
    }

    .bottom-container{
      position: relative;
        width: 450px;
        max-width: 100%;
        padding: 0px 0px 0;
        margin: 0 auto;
        overflow: hidden;
    }
}
