/* 修复input 背景不协调 和光标变色 */
/* Detail see https://github.com/PanJiaChen/vue-element-admin/pull/927 */

$bg:#283443;
$light_gray:#fff;
$cursor: #fff;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
    .app-container .data-form .el-input input {
        color: $cursor;
    }
}

/* reset element-ui css */
.data-tab{
  position: relative;
    width: 450px;
    max-width: 100%;
    padding: 20px 0px 0;
    margin: 0 auto;
    overflow: hidden;
    .el-tabs__item {
      color: $light_gray;
    }
    .el-tabs__item.is-active{
      color:#409EFF;
    }
    .el-tabs__item:hover{
      color: #409EFF;
    }
}

.data-form {
    .el-input {
       // display: inline-block;
        height: 47px;
        width: 85%;

        input {
            background: transparent;
            border: 0px;
            -webkit-appearance: none;
            border-radius: 0px;
            padding: 12px 5px 12px 15px;
            color: $light_gray;
            height: 47px;
            caret-color: $cursor;

        }

        // bug fix: 登录页面tab切换 谷歌浏览器会input有自动填充的样式 禁止密码自动填充  https://blog.csdn.net/a576736858/article/details/81228264
        // input:-webkit-autofill:输入框自动填充背景问题 https://blog.csdn.net/sunshine641/article/details/108754175
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
              transition-delay: 99999s;
              transition: color 99999s ease-out, background-color 99999s ease-out  !important;
              -webkit-transition-delay: 99999s  !important;
              -webkit-transition: color 99999s ease-out, background-color 99999s ease-out  !important;
              -webkit-text-fill-color: #747474  !important;
        }

    }
    .el-input-code{
      width: 93%;

    }

    .el-form-item {
        border: 1px solid rgba(255, 255, 255, 0.1);
        // background: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        color: #454545;
    }
}


